/*** all Mobile Screen (iphone 6,7,8) ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
header {
  display: flex;
  height: 80px;
  background: #FFFFFF;
  align-items: center; }
  @media (max-width: 1367px) {
    header {
      height: 60px; } }
  header .logo-wrap {
    min-width: 343px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 24px; }
    @media (max-width: 1679px) {
      header .logo-wrap {
        min-width: 320px; } }
    @media (max-width: 1367px) {
      header .logo-wrap {
        min-width: 290px; } }
    @media (max-width: 1281px) {
      header .logo-wrap {
        min-width: 267px; } }
    @media (max-width: 1023px) {
      header .logo-wrap {
        min-width: 260px; } }
    @media (max-width: 767px) {
      header .logo-wrap {
        min-width: 80px;
        padding-left: 20px; } }
    header .logo-wrap .logo-block .main-logo {
      max-width: 110px;
      display: block; }
      header .logo-wrap .logo-block .main-logo.light-logo {
        display: block; }
        @media (max-width: 767px) {
          header .logo-wrap .logo-block .main-logo.light-logo {
            display: none; } }
      header .logo-wrap .logo-block .main-logo.dark-logo {
        display: none; }
    header .logo-wrap .logo-block .mob-logo {
      display: none; }
      @media (max-width: 767px) {
        header .logo-wrap .logo-block .mob-logo {
          display: block; } }
    header .logo-wrap .sidebarCollapse {
      width: 47px;
      height: 47px;
      background: transparent linear-gradient(180deg, #FFCCE2 0%, #FFF3F8 100%);
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (max-width: 1679px) {
        header .logo-wrap .sidebarCollapse {
          width: 40px;
          height: 40px; } }
      @media (max-width: 1367px) {
        header .logo-wrap .sidebarCollapse {
          width: 36px;
          height: 36px; } }
      @media (max-width: 767px) {
        header .logo-wrap .sidebarCollapse {
          display: none; } }
      header .logo-wrap .sidebarCollapse img {
        height: 15px;
        width: 15px; }
        @media (max-width: 1679px) {
          header .logo-wrap .sidebarCollapse img {
            width: 14px;
            height: 14px; } }
        @media (max-width: 1367px) {
          header .logo-wrap .sidebarCollapse img {
            width: 12px;
            height: 12px; } }
  header .top-header {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 15px; }
    header .top-header .left-block {
      display: flex; }
      header .top-header .left-block .switch-block {
        cursor: pointer; }
        header .top-header .left-block .switch-block .form-switch {
          position: relative;
          cursor: pointer; }
          header .top-header .left-block .switch-block .form-switch .form-check-input {
            background-color: #F8E8F0;
            border: none;
            width: 55px;
            height: 30px;
            background-image: url("../img/moons.svg"), url("../img/round-icons.svg");
            background-position: 7px center, left center;
            background-size: 14px, auto;
            cursor: pointer; }
            @media (max-width: 1367px) {
              header .top-header .left-block .switch-block .form-switch .form-check-input {
                height: 25px;
                background-position: 6px center, left center; } }
            header .top-header .left-block .switch-block .form-switch .form-check-input:checked {
              background-image: url("../img/sun.svg"), url("../img/round-icons.svg");
              background-position: 32px center, right center;
              background-size: 14px, auto; }
              @media (max-width: 1367px) {
                header .top-header .left-block .switch-block .form-switch .form-check-input:checked {
                  background-position: 36px center, right center; } }
            header .top-header .left-block .switch-block .form-switch .form-check-input:focus {
              outline: none;
              box-shadow: none;
              border: none; }
      header .top-header .left-block .search-block {
        position: relative;
        margin-left: 50px;
        width: 400px;
        height: 39px; }
        @media (max-width: 1679px) {
          header .top-header .left-block .search-block {
            margin-left: 40px;
            width: 380px; } }
        @media (max-width: 1367px) {
          header .top-header .left-block .search-block {
            margin-left: 30px;
            width: 360px; } }
        @media (max-width: 1281px) {
          header .top-header .left-block .search-block {
            margin-left: 20px;
            width: 280px; } }
        @media (max-width: 991px) {
          header .top-header .left-block .search-block {
            margin-left: 20px;
            width: 240px; } }
        @media (max-width: 767px) {
          header .top-header .left-block .search-block {
            display: none; } }
        header .top-header .left-block .search-block .form-control {
          padding-left: 40px;
          text-align: left;
          font-family: 'sf-regular';
          font-size: 15px;
          color: rgba(96, 35, 65, 0.69); }
          @media (max-width: 1367px) {
            header .top-header .left-block .search-block .form-control {
              font-size: 14px; } }
          @media (max-width: 991px) {
            header .top-header .left-block .search-block .form-control {
              font-size: 12px; } }
        header .top-header .left-block .search-block .search-box-icon {
          position: absolute;
          top: 1px;
          left: 10px;
          margin: auto; }
          header .top-header .left-block .search-block .search-box-icon .btn {
            padding: 0; }
    header .top-header .right-block .user-area {
      display: flex;
      align-items: center; }
      header .top-header .right-block .user-area .notification-header {
        position: relative; }
        header .top-header .right-block .user-area .notification-header .badge {
          width: 24px;
          height: 24px;
          background: #AE4069;
          border: 2px solid #FFFFFF;
          position: absolute;
          left: 15px;
          font-size: 12px;
          font-family: "sf-pro-light";
          color: #fff;
          border-radius: 100px;
          top: -5px;
          padding: 3px 0;
          display: inline-flex;
          align-items: center;
          justify-content: center; }
          @media (max-width: 1367px) {
            header .top-header .right-block .user-area .notification-header .badge {
              font-size: 10px;
              width: 20px;
              height: 20px; } }
        header .top-header .right-block .user-area .notification-header .dropdown-menu {
          width: 460px !important;
          transform: translate(210px, 85px) !important;
          border-radius: 14px;
          border: none;
          background: #FFFFFF;
          box-shadow: 0px 16px 25px #00000014;
          border: 1px solid #70707000;
          right: 0 !important;
          left: auto !important; }
          header .top-header .right-block .user-area .notification-header .dropdown-menu::before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 25px solid #FFf;
            top: -20px;
            left: 0;
            right: 0;
            margin: auto; }
          header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-header {
            display: flex;
            justify-content: space-between;
            padding: 32px; }
            header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-header .notification-header-title {
              font-family: 'sf-medium';
              font-size: 16px;
              text-align: left;
              letter-spacing: 0px;
              color: #330948; }
            header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-header .notification-header-mark {
              font-family: 'sf-regular';
              font-size: 14px;
              text-align: left;
              color: #727272; }
          header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body {
            max-height: 420px;
            overflow: auto; }
            header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul {
              list-style: none;
              padding: 0;
              margin: 0; }
              header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul li {
                border-bottom: 1px solid rgba(133, 155, 186, 0.3); }
                header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul li .dropdown-item {
                  padding: 25px; }
                  header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul li .dropdown-item .list {
                    display: flex;
                    white-space: normal; }
                    header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul li .dropdown-item .list .userIcon {
                      width: 120px;
                      margin-right: 14px; }
                      header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul li .dropdown-item .list .userIcon img {
                        width: 54px;
                        height: 54px;
                        object-fit: cover;
                        border-radius: 100px; }
                    header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul li .dropdown-item .list .details h4 {
                      font-size: 13px;
                      font-family: 'sf-medium';
                      text-align: left;
                      color: #CA3C74;
                      margin-bottom: 9px; }
                    header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul li .dropdown-item .list .details p {
                      font-size: 11px;
                      font-family: 'sf-regular';
                      text-align: left;
                      color: #011916;
                      margin-bottom: 9px; }
                    header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul li .dropdown-item .list .details span {
                      font-family: 'sf-medium';
                      font-size: 11px;
                      text-align: left;
                      color: #CA3C74; }
                  header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-body ul li .dropdown-item:hover {
                    background: rgba(250, 238, 243, 0.5); }
          header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-footer {
            padding-top: 50px;
            padding-bottom: 20px; }
            header .top-header .right-block .user-area .notification-header .dropdown-menu .notification-footer .view-all {
              font-family: 'sf-medium';
              font-size: 14px;
              text-align: center;
              color: #CA3C74;
              display: block;
              margin: auto; }
      header .top-header .right-block .user-area .user-header {
        margin-left: 37px; }
        @media (max-width: 1679px) {
          header .top-header .right-block .user-area .user-header {
            margin-left: 32px; } }
        @media (max-width: 1367px) {
          header .top-header .right-block .user-area .user-header {
            margin-left: 25px; } }
        @media (max-width: 1281px) {
          header .top-header .right-block .user-area .user-header {
            margin-left: 20px; } }
        @media (max-width: 991px) {
          header .top-header .right-block .user-area .user-header {
            margin-left: 15px; } }
        header .top-header .right-block .user-area .user-header .user-txt button {
          display: flex;
          align-items: center;
          padding: 0; }
          header .top-header .right-block .user-area .user-header .user-txt button img {
            width: 42px;
            height: 42px;
            border-radius: 100px;
            object-fit: cover;
            margin-right: 7px; }
          header .top-header .right-block .user-area .user-header .user-txt button h4 {
            font-family: "sf-medium";
            font-size: 16px;
            letter-spacing: 0px;
            color: #393939;
            margin: 0;
            padding-right: 11px; }
            @media (max-width: 1367px) {
              header .top-header .right-block .user-area .user-header .user-txt button h4 {
                font-size: 14px; } }
            @media (max-width: 991px) {
              header .top-header .right-block .user-area .user-header .user-txt button h4 {
                font-size: 12px;
                display: none; } }
            header .top-header .right-block .user-area .user-header .user-txt button h4 span {
              display: block;
              font-family: "sf-pro-light";
              font-size: 12px;
              color: #393939;
              text-align: left; }
  header.isactive .logo-wrap {
    min-width: 140px;
    padding-left: 20px; }
    header.isactive .logo-wrap .logo-block .mob-logo {
      display: block; }
    header.isactive .logo-wrap .logo-block .main-logo {
      display: none; }

header .top-header .left-block .switch-block .form-switch .form-check-input {
  position: relative; }
  header .top-header .left-block .switch-block .form-switch .form-check-input::after, header .top-header .left-block .switch-block .form-switch .form-check-input::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    background-repeat: no-repeat;
    transition: .3s; }
  header .top-header .left-block .switch-block .form-switch .form-check-input::before {
    opacity: 0;
    left: 5px;
    background-position: 1px center, left center;
    background-image: url(../img/moons.svg); }
  header .top-header .left-block .switch-block .form-switch .form-check-input::after {
    background-image: url(../img/sun.svg);
    right: 5px;
    background-position: 1px center, right center;
    opacity: 1; }

header .top-header .left-block .switch-block .form-switch .form-check-input:checked::before {
  opacity: 1; }

header .top-header .left-block .switch-block .form-switch .form-check-input:checked::after {
  opacity: 0; }

/*# sourceMappingURL=header.css.map */
