@import "partials/variables";
@import "partials/mixins";

.secondOpened{
    display: block !important;
    opacity: 1 !important;
    &.modal.fade .modal-dialog {
         transform: none !important;
    }
}


.backdrop-cstm{
    &:before{
        content:"";
        position: absolute;
        background: #000;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0.3;
    }
}